/* CLASSES */

.ui.sidebar.visible ~ .pusher {
    width: calc(100% - 260px);
}

.pusher{
    background-color: #eaeaea;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

/* IDs */

#navBar{
    box-shadow: 0 0 10px #000;
    background-color: #d2d2da;
}
#navBar h2{
    color: #333333;
}
#navBar h4{
    color: #333333;
}
#navBar a{
    color: #555555;
}
#sitenavBar {
	position:relative;
    
}

#externalLinks{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#externalLinks h4{
	    margin:0;
    padding: 12px 8px;
}
#externalLinks a{
    margin: 0;
    padding: 10px;
}

#menuButton{
    background-color: #d2d2da;
    float: left;
    padding: 5em;
}
#videoSection{
    background-color: black;
    box-shadow: 0 5px 5px #aaa;
    margin: 0;
    padding: 0;
    height: 100%;
}

#WelcomeOverlay{
    color: white; 
    align-content: center;
}

#title{
    padding: 0 5px;
    margin: 0;
}
#subtitle{
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

#welcomeMessage{
    text-align: left;
}

#aboutSection {
    box-shadow: 0 5px 5px #aaa;
    padding: .2em 10em;
    margin: 5% 0;
    background-color: #eaeaea;
}
#aboutSection h1{
    text-align: center;
    font-size: 42px;
    margin: 0;
    padding: 0;
}
#aboutSection h2{
    text-align: left;
}
#aboutSection p{
	text-align: left;
}

#lifeandEducationSection {
    width: 45%;
    float:left;
}
#soundDesignandGameDevelopmentSection {
    width: 45%;
    float:right;
}

#moduleButtons {
	margin:1em;
    padding:0;
    vertical-align: center;
}

#portfolioSection h1{
    text-align: center;
    font-size: 42px;
    margin: 0;
    padding: 0;
}
#portfolioSection h2{
	text-align: center;
}

#gameAudioSubSection {
	align-content: center;
}
#gameAudioSubSection h2{
    padding-left: .5em;
}

#postProductionSubSection h2{
	padding-left: .5em;
}

#musicSubSection {
	box-shadow: 0 5px 5px #aaa;
}
#musicSubSection h2{
    padding-left: .5em;
}

#moduleLauncher{
    width: 25em;
    background-color: #fff;
    margin: 0;
    float: left;
    box-shadow: 0 5px 5px #aaa;
}
#moduleLauncherTitle{
    margin: 0;
    padding: 0 3px;
    background-color: #fff;
    text-align: center;
    width:100%;
    float:left;
}

#moduleLauncher img{
    margin: 0;
    padding: 0;
}

.modal{
    margin: 0;
    padding: 15px;
}
.modal iframe{
    margin: 0;
    padding: 0;
}
#modalDescription{
    text-align: left;
    margin: 0;
    padding:0;
}
#modalButton{
    vertical-align: center;
}

#creditsSection {
	box-shadow: 0 5px 5px #aaa;
}
#creditsSection h1{
    text-align: center;
    font-size: 42px;
    margin: 0;
    padding: 0;
}

#twitchSection {
	background-color: #6441a4;
    box-shadow: 0 5px 5px #aaa;
}

#twitchSection h1{
    color: #fff;
    text-align: center;
    margin:0;
    padding:0;
}
#twitchLogo{
    margin: 10px 0 0 0;
    text-align: center;
}

#twitchVideoEmbed{
    margin:0 0 5px 0;
    padding: 10px 0 10px 10px;
    text-align: left;
    width: 50%;
    float:left;
}
#streamingInformation{
    margin:10px 0 0 10px;
    padding: 10px;
    text-align: left;
    width: 45%;
    float:left;
    background-color: #6441a4;
}
#streamingInformation h2{
    color: #fff;
}
#streamingInformation p{
    color: #fff;
}

#contactForm{
    margin: 10px;
    padding: 5px;
    width:40%;
}
#contactSection h1{
    text-align: center;
}